/* RESET */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* GENERAL */

body{
    background-color: lightgray;
}

ul, ol {
    list-style: none;
    padding-left: 18px;
}


/* HEADER */

header {
    background-color: white;
    padding: 15px;
    margin: 0;
}
h1 {
    display: inline-block;
    vertical-align: middle;
}

img {
    vertical-align: middle;
}

/* MAIN */

#list-container {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 75px 150px
    
}

#container1 { 
    background-color: rgb(55, 156, 250);
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
}

#container2 {
    background-color: white;
    color: darkgrey;
    border-radius: 5px;
    border: 1px solid darkgrey;
    margin: 5px;
    padding: 3px;
}
h6 {
    display: inline-block;
    padding-left: 18px;
}

hr {
    color: darkgray;
}
